<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/style.css">
        <title>EJS Awards</title>
    </head>
    <body>
        <div id="container">
            
            <% var users_arr; { %>
            <h2>Details about the <%= users_arr[1].award %></h2>
            <img src="images/toilet.jpg" alt="Spoon Award">
            <p>Awarded by: <%= users_arr[1].awarded_by %></p>
            <p>Date: <%= users_arr[1].date %></p>
            <p>Qualifications: <%= users_arr[1].qualifications %></p>
            <% } %>
        
        </div>
    </body>
</html>